<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Photobox</title

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/public/css/bootstrap.min.css" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="/public/css/bootstrap-theme.min.css" crossorigin="anonymous">

	<link rel="stylesheet" href="/public/css/main.css" crossorigin="anonymous">


</head>

<body>
	<div class="fixed">
		<div class="alert alert-success js-alert" style="display:none;" role="alert"></div>
		<div class="alert alert-danger js-alert-danger" style="display:none;" role="alert"></div>
	</div>
